<div class="container-fluid">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <iframe width="345" height="190" src="https://www.youtube.com/embed/ZY3SvupLPYw" class="border border-2 border-danger"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <div class="carousel-caption d-none d-sm-block">
          <h5>Current Vlog</h5>
          <p>Pink is Cherry Blossom</p>
        </div>
      </div>
      <div class="carousel-item">
        <iframe width="345" height="190" src="https://www.youtube.com/embed/4n7lceiKljQ" class="border border-2 border-danger"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <div class="carousel-caption d-none d-md-block">
          <h5>Best Views</h5>
          <p>The most viewed Vlog</p>
        </div>
      </div>
      <div class="carousel-item">
        <iframe width="345" height="190" src="https://www.youtube.com/embed/jRW-TapECJ8" class="border border-2 border-danger"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="carousel-caption d-none d-md-block">
          <h5>Long Time Watched</h5>
          <p>people have been watching for a long time</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>



