<%- include('_layouts/header') -%>
<main>
    <section class="main">
        <h1>This webpage is Byounguk's store</h1>
        <h3>Enjoy shopping!</h3>
        <img class="mainimage" src="images/main.jpg">    
    </section>
</main>
<%- include('_layouts/footer') -%>
