<!DOCTYPE html>
<html>
    <head>
        <title>Byounguk's store</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <header>
            <section>
                <h1>Byounguk's Closet</h1>
                <h3>Everything we love about fashion</h3>
            </section>
            <nav class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/order">Order</a></li>
                </ul>
            </nav>
        </header>
</html>