<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <img src="https://gemnnn.github.io/Img/me.jpg" class="img-fluid rounded-start" alt="...">
        <h5 class="card-title">Byounguk 'Branden' Min</h5>
        <p class="card-text">Hello :)
          I'm a person who has intellectual curiosity and super positive. I love to check details such as the root, outline and characteristics of a question.
        </p>
        <p class="card-text"><small class="text-muted">"Never give up, love to learn something new"</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-1">
    <div class="col-md-8">
      <div class="card-body">
        <img src="https://gemnnn.github.io/Img/conestoga.png" class="img-fluid rounded-start" alt="...">
        <h5 class="card-title">Education</h5>
        <p class="card-text">I'm a student at Conestoga College in Computer Programming Analysis.
          I am seeking a 4–16-month co-op job opportunity.</p>
        <p class="card-text"><small class="text-muted">Skill: C#, SQL, Linux, jQuery, Angular, Python, etc</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-1">
    <div class="col-md-8">
      <div class="card-body">
        <img src="https://gemnnn.github.io/Img/starbucks.png" class="img-fluid rounded-start" alt="...">
        <h5 class="card-title">Work experience</h5>
        <p class="card-text">I've been working for Starbucks as an energetic member of the team with a positive mind for over an year. so I have a great team-oriented skill.</p>
        <p class="card-text"><small class="text-muted">Skill: Communication, Customer Service </small></p>
      </div>
    </div>
  </div>
</div>
